.board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.thumbsUp {
  font-size: 1rem;
  margin: 0.25rem;
}

.post {
  display: flex;
  align-items: center;
  border: solid 1px black;
  padding: 0.5rem;
}

.postInfo {
  flex: 1;
}
.postTitle {
  text-align: left;
}

.postPreview {
  margin: 0;
}
