#root {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto;
  flex: 1;
  overflow: scroll;
}

#error-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
