/* ----PROFILE---- */

.profile {
  margin: 1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  & p {
    margin: 0;
    font-size: 1rem;
  }
}

.profileImage {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 0.75rem;
}

.about {
  .fullName {
    text-align: left;
    font-size: 1.5rem;
  }
  .aboutInfo {
    font-size: 0.9rem;
  }
}
/* ----SETTINGS---- */

.settings {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 75%;
  & h2 {
    margin: 0;
  }
  & ul {
    padding-left: 0.75rem;
    list-style-type: none;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;

    & li {
      margin: 0.5rem;
    }
  }
}

.delete {
  margin-top: auto;
  align-self: center;
  & a {
    color: crimson;
  }
}
