.login,
.signup {
  display: flex;
  justify-content: center;
}
.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
}
.button {
  padding: 0.2rem 0.75rem;
  width: fit-content;
}

.invalidUser {
  text-align: center;
}
